/*eixos quando a propriedade é definida como flex-box: 

main axis
cross axis

Order= propriedade de item.

Serve basicamente para alterar a ordem dos items dentro do container, Pode ser colocado com numeros negativos, quanto menor o valor do order mais proximo do inicio do main axis ficara.

*/

.item{
    margin: 5px;
    padding: 5px;
    background: #447;
    text-align: center;
    font-size: 1em;
    color: #fff;
    
    
}

.container{
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    border: solid #000 1px;
    justify-content: center ; /*eixo principal*/
    align-content: space-between;/*eixo secundario, valor padrão = stretch (estica os itens de acordo com seu container)*/
}

.quebra{
    flex-wrap: wrap;
}

.flexivel{
    display: flex;
    
}

.tam0{
    flex-grow: 0;
}

.tam1{
    flex-grow: 1;
}

.tam2{
    flex-grow: 2;
}

.tam3{
    flex-grow: 3;
}

.basea{
    flex: auto;
}
.base0{
    flex: 0;
}
.base1{
    flex: 1;
}
.base2{
    flex: 2;
}
.base3{
    flex: 2;
}

/*
.order0{
    order: 0;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 4;
} */

.horizontal{
    flex-direction: row;
    
}

/*Duas propriedades em uma*/
.fluxo-horizontal-quebra{
    flex-flow:row wrap ;
    
}

.vertical{
    flex-direction: column;
    
}

p{
    text-align: center;
    margin: 25px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #777;
}