section{
    height: 200px;
    border: solid #f00 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
    
}

div{
    
    border: solid #000 1px;
    flex: 1;
    
}

#d1{
    order:1;
}

#d2{
    order:2;
}

#d3{
    order:3;
}

#d4{
    order:4;
}

#d5{
    order:1;
}

#d6{
    order:6;
}

/*

flex-grow
flex-shrink
flex-basis
order

padrão: flex: 0 0 auto; 

flex-grow - configuração padrão 0, 1 controla se o elemento vai ou não esticar para compor o tamanho do container

flex-shrink

flex-basis - controla o tamanho da porcentagem do container que o elemento ira ocupar 
*/

/*A propriedade order muda a ordem dos elementos*/

/*justify-content = alinhamneto horizontal do itens

align-items = alinhamento vertical  do itens

flex-direction = direção dos itens

*/

/*O container é definido com o display flex torna os seus elementos filhos flexiveis.

Os elementos filhos são movidos atraves da propriedade flex

flex: 1; = ajusta de acordo com o espaço do container

flex-wrap: wrap; = quebra da linha quando a tela diminuir

min-width define o minimo que ficara o container quando a tela for diminuda

*/