/*Responsividade é adaptar o site para diversos tamanho de celular*/

/*@media retorna verdadeiro ou falso
nele colocamosa as regras, se visualizado por um dispositivo diferente do especificado o @media retorna falso e as regras não serão executadas

pode der definido o dispositivo conforme abaixo:

@media print: impressora
@media screen: tela
@media speech: leitores de arquivos digitais
@media all: todos dispositivos

*/

body{
    background: yellow;
}

img{
    width: 300px;
}

/*Modo retrato e paisagem smartphone

Retrato: orientation:portrait
Paisagem: 


*/

@media screen and (max-width:400px) and (orientation:portrait){

    body{
        background: #f00;
    }

}

@media screen and (min-width:501px) and (orientation:landscape){

    body{
        background: blue;
    }

}



