#menu{
    width: 100%;
    margin: 0;
    padding: 0%;

    
}

a{  
    
    background: rgb(0, 0, 68);
    color: white;
    text-decoration: none;
    padding: 0%;
    margin: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    font-size: 18px;
}

a:hover{
    background: rgb(149, 149, 223);
    color: black;
}